@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
    overflow: hidden;
}

.flex-container {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    min-height: 100vh;
    text-align: center;
    flex-wrap: wrap;
    background-color:#8c8c88;;
}

.header-section{
    margin-bottom: 10px;
}

.flex-container::after{
    content: '';
    clear: both;
    display: block;
}
.flex-container .separator{
    width: 100%;
    padding: 0 30%;
}

.main-logo{
    position: absolute;
    top: 30px;
    left: 20px;
}

.page-footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
  }
  
  .page-footer ul {
    display: flex;
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 5px;
    list-style-type: none;
    text-decoration: none;
    padding: inherit; 
  }
  
    .page-footer ul li {
        margin-right: 16px;
    }
    
    .page-footer a{
      color: black;
      text-decoration: none;
    }
    .page-footer a:hover{
      text-decoration: none;
      color: white;
    }

  
@media screen and (min-width: 550px) {
    .page-header ul {
      width: auto;
      margin-top: 0;
    }
  
    .page-header .cta-contact {
      order: 1;
    }
  
    .page-footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .page-footer ul {
      margin-bottom: 0;
    }
  }
  
  @media screen and (min-width: 768px) {
    body {
      font-size: 18px;
    }
  
    .page-main {
      padding-left: 90px;
    }
}

#login-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1db954;
  padding: 15px 15px;
  font-size: 20px;
  flex-basis: 100%;
  cursor: pointer;
  border-radius: 15px;
  margin: auto;
  max-width: 295px;
  text-decoration: none;
  color: black 
}

select {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 20em;
  height: 3em;
  padding: 0 4em 0 1em;

}

#shuffle-playlist{
  display: flex;
  padding-top: 10px;
}

#shuffle-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1db954;
  padding: 15px 15px;
  font-size: 20px;
  flex-basis: 100%;
  cursor: pointer;
  border-radius: 15px;
  margin: auto;
  max-width: 295px;
  text-decoration: none;
  color: black 
}

#progress {
  display: flex;
  flex-basis: 100%;
  margin: auto;
  align-items: center;
  text-align: center;
  line-height: 30px;
  max-width: 405px;
  align-items: center;
  width: 100%;
  background-color: grey;
}

#progressBar {
  width: 0%;
  height: 30px;
  background-color: green;
}

